body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: -webkit-linear-gradient(to right, #29323c, #0A192F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #0A192F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
